@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Montserrat:wght@200&family=Orbitron&family=Poppins:wght@200;300;400&family=Roboto&display=swap'); 
 
 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif; 
 }


 .right {
     background-image: url('./img/logimg');
     background-repeat: no-repeat;
     background-size: cover;
    height: 635px;
    width: 650px;
 }
